
html {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    margin: 0;
    font-family: "Inconsolata";
    height: 100%;
    margin-top: auto;
}

a {
    text-decoration: none;
    color: darkgreen;
}

.navbar {
    padding: 10px 0 0 0;
}
img {
    width: 120px;
	height: 120px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://link-to-your/image.jpg) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}

h2 {
    text-decoration: underline;
}

#projects {
    margin-left: 2%
}

#other {
    margin-left: 2%
}

#contacts {
    margin-left: 2%
}

#skills {
    margin-left: 2%
}

#myself {
    margin-left: 3%
}
#pic{
    margin-left: 3.08%
}
.otherInt {
    margin-left: 3%
}
.mail {
    margin-left: 1.5%;
}
