
html {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    margin: 0;
    font-family: "Inconsolata";
    height: 100%;
    margin-top: auto;
}

a {
    text-decoration: none;
    color: darkgreen;
}

.navbar {
    padding: 10px 0 0 0;
}
img {
    width: 120px;
	height: 120px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background:  no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}

h2 {
    text-decoration: underline;
}

